html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #efefef;
}

main {
    width: 900px;
    margin: auto;
}

#week {
    border: 2px black solid;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: 300px;
}

div {
    float: left;
}

/* unvisited link */
a:link {
    color: dodgerblue;
}

/* visited link */
a:visited {
    color: rebeccapurple;
}

/* mouse over link */
a:hover {
    color: blue;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
}


.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

