.yella_main {
    background-color: #F4ED47;
    height: 500px;
    padding: 100px;
}

.gray_main {
    background-color: #EEE;
    height: 500px;
    padding: 100px;
}

.talk_box {
    background-color: #EEE;
}

.small_box {
    height: 250px;
    /*    padding: 20px;*/
}

.my_contact {
    background-color: #F4ED47;
    padding: 100px;
    text-align: center;
    max-height: 100px;
}

img {
    width: 100%;
    height: 100%;
}