/*
The green:
#009933
*/

p,
h1,
h2,
h3,
nav {
    font-family: 'Varela Round', sans-serif;
    font-weight: 900;
    color: #353941;
}

h1 {
    font-size: 50px;
}

.contact_mob {
    background-color: #009933;
    color: white;
}

.contact_mob p {
    color: white;
}

.contact_mob > h3 {
    color: white;
    text-align: center;
}

.res_contact_btn {
    text-align: center;
}

section0 div {
    /*
    background-color: #666;
    color: white;*/
    text-align: center;
}

section1 div {
    text-align: center;
}

section1 h2 {
    text-align: center;
    color: white;
}

.section1_info {
    padding: 70px;
}

.section1_dark {
    background-color: #353941;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 60px;
    height: 350px;
}

.section1_dark2 {
    color: white;
}

section1 p {
    color: white;
    text-align: left;
}

section1_dark > p {
    color: white;
    text-align: center;
}

hr {
    width: 90%
}


/*
.section1_info {
    background-color: #333;
    color: white;
}
*/

.navbar {
    background-color: white;
}


/*Google Maps*/

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 99% !important;
    height: 100% !important;
}