














/*Clear fix fixes collapsing tables.  Apply clearfix to the parent container.*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}