html {
    background: #ccc;
}

div, p {
    margin: 0;
    padding: 0;
}

.outer {
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background: #9CF;
    padding: 1px;
}

.box {}

p {
    background: #EEA458;
    height: 100%;
}


/*
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}*/
