body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    padding: 2% 1%;
    width: 98%;
}

h1 {
    font-size: 25px;
    float: left;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
    font-style: italic;
    
}

main > div> p {
    font-style: italic;
}

nav li {
   display: inline-block;
}

ul {
    float: right;
}

nav a {
    color: #666;
    margin-left: 8px;
    text-decoration: none;
    font-size: .75em;
}

main {
    background-image: url(../img/wine-bg.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

main > div {
    background-color: rgba(0,0,0,.8);
    padding: 200px 0;
}

.two-boxes {
    width: 100%;
}

.two-boxes div {
    float: left;
    text-align: center;
}

.two-boxes > div:first-child {
    width: 60%;
    margin-top: 14%;
}

.two-boxes > div:nth-child(1) {
    width: 40%;
}

.two-boxes > div > p:first-child {
    margin-bottom: 25px;
}

.two-boxes > div > h3 {
    margin-bottom: 30px;
}


.two-boxes img {
    width: 70%;
    margin-left: 15%;
}

main > div p {
/*    font-style: italic;*/
}


.thirdbox {
/*    padding: 2% 1%;*/
    width: 100%;
    background-image: url(../img/wine13.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    
}

.thirdbox > div {
    background-color: rgba(0,0,0,.8);
    padding: 200px 110px;   
}

.thirdbox div p {
    margin-top: 40px;
    font-size: 13px;
}


.bottom > div > img {
    width: 20%;
}

.bottom {
    width: 100%;
}

.bottom > div {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 30%;
    float: left;
    margin-bottom: 10px;
}

.bottom > div > p {
    margin-bottom: 20px;   
}

.bottom > div > a {
    color: white;
    background-color: #909f5e;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}