html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    margin: auto;
    /*    width: 900px;*/
}

.main {
    width: 690px;
    margin: auto;
    /*    margin: 50px;*/
    /*    padding-left: 50px;*/
/*        border: 1px dotted blue;*/
}

.header {
    text-align: center;
    display: inline-block;
    padding: 0px 90px 0px 90px;
    margin-bottom: 30px;
    /*        width: 70%;*/
    /*    overflow: auto;*/
}

#body {
    display: inline-block;
    /*    width: 100%;*/
    width: 690px;
    /*    border: 1px dotted green;*/
}

.content {
    width: 350px;
    float: left;
    background: #f7f7f7;
    padding: 10px;
    margin-right: 10px;
    height: 300px;
/*    border: 1px dotted purple;*/
}

.aside { 
        /* overflow: auto; */
/*    border: 1px dotted pink;*/
    /* width: 300px; */
    float: right;
}


.aside > div {
    width: 280px;
    height: 77px;
/*        float: left;*/
    background: #f7f7f7;
    padding: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}

h1 {
    color: #999;
    margin: 20px;
    font-weight: 100;
}

h3 {
    color: #999;
    /*    margin: 20px;*/
/*        margin-left: 100px;*/
    font-weight: 500;
    font-size: 16px;
}

p {
    line-height: 150%;
    color: #999;
    font-size: 13px;
}

a {
    color: green;
    float: right;
}


.shortpost {
/*    height: 90px;*/
/*    width: 100%;*/
/*    width: 280px;*/
/*    border: 1px dashed green;*/
/*    margin-left: 20px;*/
}

img {
    width: 100%;
    /* THIS IS HOW YOU MAKE AN IMAGE FIT WITHIN ITS CONTAINER*/
    /*    padding: 10px;*/
    /*    margin: auto;*/
}

.aside > div > img {
    width: 40%;
}

.footer {
    /*    margin-top: 50px;*/
    margin-top: 40px;
    margin-bottom: 20px;
    /*    margin-left: 30px;*/
    border-top: 2px solid #f7f7f7;
    border-bottom: 2px solid #f7f7f7;
    padding: 10px;
    /*    margin-left: 80px;*/
    /*    overflow: auto;*/
    display: inline-block;
    /*    width: 100%;*/
    /*    border: 1px dotted red;*/
}

.footercolumn {
    float: left;
    width: 30%;
    /*    align-content: center;  <-- this crap doesn't work*/
    /*    margin: 0 auto;*/
}

.footercolumn > p,
ul {
    font-size: 11px;
    color: #999;
    line-height: 180%;
        
}

ul {
    list-style-image: url('../img/green_check.png');
}

li {
    margin-left: -20px;
}

.shortpost > h3 p {
    margin-left: 10px;
}

.shortpost-header {
    margin-top: 1px;
    padding-left: 10px;
}

.footer > div:nth-child(2) {
    /*    border: 1px dotted red;*/
    border-left: 2px solid #f7f7f7;
    border-right: 2px solid #f7f7f7;
    margin-right: 20px;
    padding-left: 20px;
}

.shortpost > img {
    float: left;
/*    width: 20%;*/
}

/* This thing here'll save drowning babies and defeat ISIS */
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}