p, h1, a {
    font-family: sans-serif;
    color: white;
    
}

.garden {
    background-image: url('../img/1.jpg');
    text-align: center;
    line-height: 3;
    background-size: cover;
    
}

.transform {
    text-transform: uppercase;
}

p {
    font-family: Georgia, serif;
    margin-top: 30px;
    line-height: 2;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    color: #8ba80a;
    font-family: sans-serif;
/*    margin-bottom: 30px;*/
}

.garden > div {
    background-color: rgba(0, 0, 0, .5);
    padding: 100px 0;
}

#uno {
    background-image: url(../img/featured-image-3.jpg);
    background-size: cover;
    margin-bottom: 30px;
}

#dos {
    background-image: url(../img/featured-image-4.jpg);
    background-size: cover;
    
}

#tres {
    background-image: url(../img/featured-image-5.jpg);
    background-size: cover;
    width: 68%;
    float: left;
    margin-left: 2%;
}

.opacity > div {
    background-color: rgba(0, 0, 0, .5);
    padding: 100px 20px;
}

.opacity {
/*    float: left;*/
/*    width: 30%;*/
      width: 100%;
}

.left {
    float: left;
    width: 30%;

}

a {
    text-decoration: none;
    
}

.buttons {
    margin-top: 40px;
}

.lt-button {
    padding: 14px;
    background-color: #333;
    
}

.rt-button {
    padding: 13px;
    border: solid white 1.5px;

}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}