
body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav > h1 {
    float: left;
}

nav > ul {
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 10px;
}

h1 {
    font-family: 'Raleway';
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    COLOR: #560300;
}


a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    color: darkred;
    text-decoration: none;
}

a:active {
    color: #000;
}

/*FIRST BOX*/

.section1 {
    text-align: center;
    background-image: url(../img/security.jpg);
    background-size: cover;
    text-align: center;
    color: #000;
/*    padding: 100px 200px;*/
    border-top: 1px black solid;
    border-bottom: 2px black solid;
}

.section1 a {
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px 15px;
    margin-top: 30px;
    font-weight: 700;
    text-decoration: none;
    
}

.section1 > div {
    background-color: rgba(255,255,255,.5);
    padding: 100px 200px;
}

.section1 p {
    margin-bottom: 30px;
}



/*SECOND BOX*/

.section2 {
    width: 96%;
    margin-top: 50px;
}

.section2_left {
    width: 29%;
    float: left;
    padding-left: 2%;

}

.section2_right {
    width: 59%;
    float: left;
    margin-left: 5%;
}

.section2_right h3 {
    text-align: center;
    margin-bottom: 20px;
}

.section2_right a {
    text-decoration: none;
    border: 2px solid black;
    float: right;
    font-weight: 700;
    border-radius: 3px;
    margin-right: 6%;
    padding: 5px 12px;
}

/*THIRD BOX*/

.section3 {
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    background-color: #9bd8ed;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    
}

.section3 > h3 {
    margin-top: 10px;
}

.section3 > div {
    float: left;
    width: 18%;
    padding: 2.5%;

}

.section3 img {
    border: 1px solid black;
}

.section3 > div > div {
    border: 1px solid black;
    text-align: left;
    font-size: 13px;
    padding-left: 4px;
}



/*FOURTH BOX*/

.section4 {
    width: 100%;
    margin-top: 20px;
}

.section4 > div {
    width: 40%;
    float: left;
    padding: 5%;
    text-align: center;
    
}

.section4 > div > img {
    text-align: center;
    border: 1px solid black;
}

.section4 > div > p:nth-child(3) {
    float: right;
}

.section4 > div > img:nth-child(2) {
    padding-right: 10px;
}


/*FIFTH BOX*/

.section5 {
    background-image: url(../img/security.jpg);
    background-size: cover;
/*    padding: 50px;*/
    text-align: center;
    border-top: 1px solid black;
}

.section5 > div {
    background-color: rgba(255,255,255,.5);
    padding: 50px;
}

.section5 > div > h3 {
    margin-bottom: 20px;
    color: #000;
}

.section5 a {
    border: 3px solid #580502;
    border-radius: 3px;
    padding: 5px 25px;
    margin: 1px 5px;
    text-decoration: none;
    font-weight: 700;
}



/*CLEARFIX*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}