/*
div {
    width: 500px;
    position: absolute;
}
*/


img {
    width: 500px;
}


/*
h1 {
    color: #252b3b;
    font-size: 1.9em;
}

p {
    color: #555555;
    padding-bottom: 20px;
}
*/

.square {
    width: 500px;
    background-color: red;
    margin: 1px;
}