div {
    width: 500px;
    position: absolute;
}

img {
    width: inherit;
}

.left {
    float: left;

}

.right {
    float: right;
    text-align: center;
    background-color: rgb(240,240,240);
}

h1 {
    color: #252b3b;
    font-size: 1.9em;
}

p {
    color: #555555;
    padding-bottom: 20px;
}