/*
Font family = sans-serif
font size 14 pixels (<h1> and <h2> have default size)
Dark color #313131
Green color #55a747
*/


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

p {
    font-size: 14px;
}

ul {
    padding-left: 50px;
}

li {
    
    display: inline-block;
    padding-right: 10px;
        
}

nav {
    background-color: #313131;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}


.left {
    float: left;
    background-color: #55a747;
    color: #fff;
    width: 40%;
    padding: 40px;
    
}

.right {
    float: left;
    background-color: #313131;
    color: #fff;
    width: 40%;
    padding: 40px;
}

.top {
    padding-left: 50px;
}

.container {
    margin-top: 10px;
    padding-left: 50px;
    
}

a {
    float: right;
    text-decoration: none;
    color: white;
    border: solid white 1px;
    padding: 9px;
    margin: 14px;
}